.container {
    .row {
        a.cta-edit {
            text-decoration: none;
            color: #000;
        }
        a.cta-create {
            text-decoration: none;
            color: #fff;
        }
    }
}
